{{ if .Get "link-only" }}
<div class="audio-container-left">
    <figcaption>{{ with .Get "src" }}<button onclick='downloadSong("{{ . | absURL }}")'><i class="fa fa-download"></i></button>{{ end }}  {{ with .Get "caption" }}{{ . }}{{ end }}</figcaption>
</div>
{{ else }}
<figure class="audio-container-center">
    <audio controls preload="{{ .Get "preload" | default "metadata" }}">
    {{ with .Get "src" }}<source src="{{ . | absURL }}" type="audio/mpeg">{{ end }}
    </audio>
    <figcaption>{{ with .Get "caption" }}{{ . }}{{ end }}  {{ with .Get "src" }}<button onclick='downloadSong("{{ . | absURL }}")'><i class="fa fa-download"></i></button>{{ end }}</figcaption>
</figure>
{{ end }}


