<div class="playlist-container">
  <audio id="player" preload="none" tabindex="0" controls></audio>

  {{ $links := split (.Get "links") "," }}
  {{ $titles := split (.Get "titles") "," }}

  <h4 class="now-playing">
    <div id="now-playing"></div>
  </h4>

  <div id="controls">
    <a id="prev" href="#prev">&#x23EE; Previous</a>
    <a id="next" href="#next">Next &#x23ED;</a>
  </div>

  {{ range $index, $link := $links }}
  <div>
      index:{{ $index }}
      link:{{ $link }}
      title:{{ index $titles $index }}
  </div>
  {{ end }}

  <ol id="playlist">
    {{ range $index, $title := $titles }}
    <li>
      <a class="track" href="{{ index $links $index }}">{{ $title }}</a>
    </li>
    {{ end }}
  </ol>
</div>

{{ $scss := resources.Get "sass/audio-player.scss" | resources.ToCSS | minify }}
<link rel="stylesheet" href="{{ $scss.Permalink }}" />

{{ $js := resources.Get "js/audio-player.js" | js.Build | minify }}
<script type="text/javascript" src="{{ $js.Permalink }}"></script>
