<div class="wp-polls">
  <p style="text-align: center"><strong>Who are your Top 5 electrotrash artists?</strong></p>
  <div id="polls-2-ans" class="wp-polls-ans">
    <ul class="wp-polls-ul">
      <li>
        Mtkidu <small>(27%, 41 Votes)</small>
        <div class="pollbar" style="width: 27%" title="Mtkidu (27% | 41 Votes)"></div>
      </li>
      <li>
        Richard The Third <small>(25%, 38 Votes)</small>
        <div class="pollbar" style="width: 25%" title="Richard The Third (25% | 38 Votes)"></div>
      </li>
      <li>
        DJ Lapse <small>(25%, 37 Votes)</small>
        <div class="pollbar" style="width: 25%" title="DJ Lapse (25% | 37 Votes)"></div>
      </li>
      <li>
        GaZo <small>(18%, 27 Votes)</small>
        <div class="pollbar" style="width: 18%" title="GaZo (18% | 27 Votes)"></div>
      </li>
      <li>
        Jacob Israel <small>(17%, 25 Votes)</small>
        <div class="pollbar" style="width: 17%" title="Jacob Israel (17% | 25 Votes)"></div>
      </li>
      <li>
        Bride Reunion <small>(16%, 24 Votes)</small>
        <div class="pollbar" style="width: 16%" title="Bride Reunion (16% | 24 Votes)"></div>
      </li>
      <li>
        Humanizer <small>(16%, 24 Votes)</small>
        <div class="pollbar" style="width: 16%" title="Humanizer (16% | 24 Votes)"></div>
      </li>
      <li>
        HAEZER <small>(13%, 19 Votes)</small>
        <div class="pollbar" style="width: 13%" title="HAEZER (13% | 19 Votes)"></div>
      </li>
      <li>
        ScarCream <small>(11%, 17 Votes)</small>
        <div class="pollbar" style="width: 11%" title="ScarCream (11% | 17 Votes)"></div>
      </li>
      <li>
        Oceans & Cities <small>(9%, 13 Votes)</small>
        <div class="pollbar" style="width: 9%" title="Oceans &amp; Cities (9% | 13 Votes)"></div>
      </li>
      <li>
        KLIKTRAK <small>(9%, 13 Votes)</small>
        <div class="pollbar" style="width: 9%" title="KLIKTRAK (9% | 13 Votes)"></div>
      </li>
      <li>
        Vervet <small>(9%, 13 Votes)</small>
        <div class="pollbar" style="width: 9%" title="Vervet (9% | 13 Votes)"></div>
      </li>
      <li>
        Considerate Builders Scheme <small>(8%, 12 Votes)</small>
        <div class="pollbar" style="width: 8%" title="Considerate Builders Scheme (8% | 12 Votes)"></div>
      </li>
      <li>
        Phonje <small>(8%, 12 Votes)</small>
        <div class="pollbar" style="width: 8%" title="Phonje (8% | 12 Votes)"></div>
      </li>
      <li>
        Hotlips <small>(7%, 11 Votes)</small>
        <div class="pollbar" style="width: 7%" title="Hotlips (7% | 11 Votes)"></div>
      </li>
      <li>
        Tigerstrike <small>(7%, 11 Votes)</small>
        <div class="pollbar" style="width: 7%" title="Tigerstrike (7% | 11 Votes)"></div>
      </li>
      <li>
        Chilled Alaskan DJ <small>(7%, 10 Votes)</small>
        <div class="pollbar" style="width: 7%" title="Chilled Alaskan DJ (7% | 10 Votes)"></div>
      </li>
      <li>
        Pravda23 <small>(7%, 10 Votes)</small>
        <div class="pollbar" style="width: 7%" title="Pravda23 (7% | 10 Votes)"></div>
      </li>
      <li>
        FLW <small>(5%, 8 Votes)</small>
        <div class="pollbar" style="width: 5%" title="FLW (5% | 8 Votes)"></div>
      </li>
      <li>
        Axxon <small>(5%, 8 Votes)</small>
        <div class="pollbar" style="width: 5%" title="Axxon (5% | 8 Votes)"></div>
      </li>
      <li>
        Hipless Couples <small>(5%, 7 Votes)</small>
        <div class="pollbar" style="width: 5%" title="Hipless Couples (5% | 7 Votes)"></div>
      </li>
      <li>
        Compl33t <small>(4%, 6 Votes)</small>
        <div class="pollbar" style="width: 4%" title="Compl33t (4% | 6 Votes)"></div>
      </li>
    </ul>
    <p style="text-align: center">Total Voters: <strong>151</strong></p>
  </div>
</div>
