{{ define "main" }}
<div id="content">
  <div id="content-in">
    <div class="post">
      <h3 class="title">{{ .Title }}</h3>
      {{ if (ne .Type "page") }}
      <div class="meta clearfix">
        <span class="date-post">Posted on {{ .Date.Format "January 2 2006" }}</span>
        <span class="author-post"> <br />by
        {{- range $index, $element := .Params.authors }}
          {{ if gt $index 0 }} & {{ end }}
          <a href="/authors/{{ urlize . }}">{{ . }}</a>
        {{ end }}
      </span>
      </div>
      {{ end }}
      <div class="entry">{{ .Content }}</div>
      <div class="entry">
        {{- with .Params.tags -}}
          {{- if ge (len .) 1 -}}
            Tags:&nbsp;
            {{- range . -}}
              <a href="/tags/{{ . | urlize }}/">{{ title . }},</a>
            {{ end -}}
          {{- end -}}
        {{- end -}}
      </div>
      <div class="clear"></div>
    </div>
    {{ if (ne .Type "page") }}
    <div class="navigation clearfix">
      {{- if .PrevInSection -}}
      <div class="alignleft single">
        <a href="{{ .PrevInSection.RelPermalink }}" class="prev" rel="prev" title="{{ .PrevInSection.Title }}"><i class="fas fa-angle-left fa-fw"></i>{{ .PrevInSection.Title }}</a>
      </div>
      {{- end -}} {{ if .NextInSection }}
      <div class="alignright">
        <a href="{{ .NextInSection.RelPermalink }}" class="next" rel="next" title="{{ .NextInSection.Title }}">{{ .NextInSection.Title }}<i class="fas fa-angle-right fa-fw"></i></a>
      </div>
      {{- end -}}
      <!-- </div> -->
    </div>
    {{ end }}
    <div class="bottomthing"></div>
  </div>
</div>
{{ end }}