<div id="footer">
  <p id="sponsor">Copyright © 2022 electrotrash.co.za</p>

  {{ $css := resources.Match "css/*.css" | resources.Concat "theme/min.css" | minify }}
  <link rel="stylesheet" href="{{ $css.Permalink }}">

  <script type="text/javascript" src="/js/jquery.easing.min.js"></script>
  <script type="text/javascript" src="/js/jquery.lavalamp.js"></script>

  {{ if eq .Kind "home" }}
  <!-- this is only needed for the featured loader -->
  <script type="text/javascript" src="/js/jquery.cycle.all.min.js"></script>
  {{ end }}

  <script type="text/javascript" src="/js/jquery/jquery.min.js?ver=3.6.0" id="jquery-core-js"></script>

  <!-- search -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lunr@2.3.8/lunr.min.js"></script>
  <script type="text/javascript" src="/js/lunr-search.js"></script>
</div>
