<div id="header">
  <div id="branding" class="clearfix"></div>
  <div id="page-menu" class="menu clearfix">
    <div id="menu-top-left"></div>
    <ul class="lavaLampWithImage">
      <li class="page_item current_page_item"><a href="/">Home</a></li>
      <li><a href="/events/">Events</a></li>
      <li><a href="/artists/">Artists</a></li>
      <li><a href="/downloads/">Downloads</a></li>
      <li><a href="/category/red-bull-studio-cpt/">Red Bull Studio CPT</a></li>
      <li><a href="/gallery/">Gallery</a></li>
      <li><a href="/links/">Links</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/contact/">Contact</a></li>
    </ul>
    <div id="menu-top-right"></div>
  </div>
</div>
